{% extends "AuthDashboardLayout.html" %}
{% block body %}
<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid" style="padding:3%;">
        <!-- table for viewing pending requests -->
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            View all leave requests and approve or reject leave requests
        </h2>
        <!-- <hr class="my-8" /> -->
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            All pending requests
        </h4>
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Request ID</th>
                            <th class="px-4 py-3">Emp ID</th>
                            <th class="px-4 py-3">name</th>
                            <th class="px-4 py-3">Department</th>
                            <th class="px-4 py-3">leave type</th>
                            <th class="px-4 py-3">from</th>
                            <th class="px-4 py-3">to</th>
                            <th class="px-4 py-3">description</th>
                            <th class="px-4 py-3">status</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        {% for row in leavelist %}
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <!-- req id -->
                                <p class="font-semibold">
                                    {{row[0]}}
                                </p>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- name -->
                                {{row[1]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- name -->
                                {{row[2]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- department -->
                                {{row[3]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- type -->
                                {{row[4]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- from -->
                                {{row[5]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- to -->
                                {{row[6]}}

                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- description -->
                                {{row[7]}}

                            </td>
                            <td class="px-4 py-3 text-xs">
                                <span
                                    class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                    {{row[8]}}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-container container">
            <!-- form for approve and reject -->
            <form action="/manageleave" method="POST"
                class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                    Enter the leave request ID of that employee whose leave you want to approve.
                </h4>
                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        Request ID
                    </span>
                    <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        placeholder="" type="text" name="req_id" />
                </label>
                <div class="btn-container" style="width: 100%; display:flex;">
                    <button type="submit" name="form-button" value="approved" id="sendMessageButton"
                        style="margin-right:2%"
                        class="block w-half px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Approve
                    </button>

                    <button type="submit" name="form-button" value="rejected" id="sendMessageButton" class=" block w-half px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white
                        transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg
                        active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Reject
                    </button>
                </div>
            </form>
        </div>
        <!-- table for viewing approved requests -->
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
            All Approved Requests
        </h4>
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Request ID</th>
                            <th class="px-4 py-3">Emp ID</th>
                            <th class="px-4 py-3">name</th>
                            <th class="px-4 py-3">Department</th>
                            <th class="px-4 py-3">leave type</th>
                            <th class="px-4 py-3">from</th>
                            <th class="px-4 py-3">to</th>
                            <th class="px-4 py-3">description</th>
                            <th class="px-4 py-3">status</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        {% for row in approvedList %}
                        <tr class="text-gray-700 dark:text-gray-400">
                            <td class="px-4 py-3">
                                <!-- req id -->
                                <p class="font-semibold">
                                    {{row[0]}}
                                </p>
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- name -->
                                {{row[1]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- name -->
                                {{row[2]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- department -->
                                {{row[3]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- type -->
                                {{row[4]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- from -->
                                {{row[5]}}
                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- to -->
                                {{row[6]}}

                            </td>
                            <td class="px-4 py-3 text-sm">
                                <!-- description -->
                                {{row[7]}}

                            </td>
                            <td class="px-4 py-3 text-xs">
                                <span
                                    class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-red-700 dark:text-green-100">
                                    {{row[8]}}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}