{% extends "layout.html" %}
{% block body %}
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Leave Application
            </h2>
            <!-- CTA -->
            
              <div class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple">
                <svg
                  class="w-5 h-5 mr-2"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
                <span>We will miss you here,{{emp.name}}</span>
              </div>
            

            <!-- General elements -->
            <form
              class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
              method="POST"
              action="/leaveSubmit">
              <!-- <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">Name</span>
                <input
                  class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  placeholder="Jane Doe"
                />
              </label> -->

              <div class="mt-4 text-sm">
                <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                  Leave Type
                </h4>
                <div class="mt-2">
                  <label
                    class="inline-flex items-center text-gray-600 dark:text-gray-400"
                  >
                    <input
                      type="radio"
                      class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                      name="accountType"
                      value="Sick Leave"
                    />
                    {% if count.sick >= 10 %}
                    <div class="myDIV">&nbsp;&nbsp;Sick Leave</div>
                    <div class="hide">&nbsp;&rsaquo;&nbsp;Exhausted</div>
                    {% else %}
                    <div class="myDIV">&nbsp;&nbsp;Sick Leave</div>
                    <div style="color: rgb(0, 238, 255);" class="hide">&nbsp;&rsaquo;&nbsp;Balance: {{10 -count.sick}}</div>
                    {% endif %}
                  </label>
                  <label
                    class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400"
                  >
                    <input
                      type="radio"
                      class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                      name="accountType"
                      value="Casual Leave"
                    />
                    <!-- <span class="ml-2">Casual Leave</span> -->
                    {% if count.annual >= 14 %}
                    <div class="myDIV">&nbsp;&nbsp;Casual Leave</div>
                    <div class="hide">&nbsp;&rsaquo;&nbsp;Exhausted</div>
                    {% else %}
                    <div class="myDIV">&nbsp;&nbsp;Casual Leave</div>
                    <div style="color: rgb(0, 238, 255);" class="hide">&nbsp;&rsaquo;&nbsp;Balance: {{14 -count.annual}}</div>
                    {% endif %}
                  </label>
                  <label
                    class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                    <input
                      type="radio"
                      class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                      name="accountType"
                      value="Breavement Leave"
                    />
                    <!-- <span class="ml-2">Breavement Leave</span> -->
                    {% if count.bereavement >= 10 %}
                    <div class="myDIV">&nbsp;&nbsp;Bereavement Leave</div>
                    <div class="hide">&nbsp;&rsaquo;&nbsp;Exhausted</div>
                    {% else %}
                    <div class="myDIV">&nbsp;&nbsp;Bereavement Leave</div>
                    <div style="color: rgb(0, 238, 255);" class="hide">&nbsp;&rsaquo;&nbsp;Balance: {{10 -count.bereavement}}</div>
                    {% endif %}
                  </label>
                  <label
                    class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400"
                  >
                    <input
                      type="radio"
                      class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                      name="accountType"
                      value="Baby Care"
                    />
                    <!-- <span class="ml-2">Baby Care</span> -->
                    {% if count.babycare >= 15 %}
                    <div class="myDIV">&nbsp;&nbsp;Baby Care</div>
                    <div class="hide">&nbsp;&rsaquo;&nbsp;Exhausted</div>
                    {% else %}
                    <div class="myDIV">&nbsp;&nbsp;Baby Care</div>
                    <div style="color: rgb(0, 238, 255);" class="hide">&nbsp;&rsaquo;&nbsp;Balance: {{15 -count.babycare}}</div>
                    {% endif %}
                  </label>
                </div>
              </div>
              <hr class="my-8" />
              <label class="block mt-4 text-sm">
                <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                  Date
                </h4>
                <span class="text-gray-700 dark:text-gray-400">
                  From :
                </span>
                <input type="date" name="from date" id="">
                <span class="text-gray-700 dark:text-gray-400">
                  &nbsp; &nbsp;&nbsp;&nbsp;Till :
                </span>
                <input type="date" name="till date" id="">
                <span class="text-gray-700 dark:text-gray-400">
                  &nbsp; &nbsp;&nbsp;&nbsp;Days :
                </span>
                <input type="text" name="days" id="">
              </label>
              
              <hr class="my-8" />
              <!-- <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400">Employee ID</span>
                <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" 
                name="emp_id">
              </label> -->
              <label class="block mt-4 text-sm">
                <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                  Leave Reason Description
                </h4>
                <textarea
                  class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  rows="3"
                  placeholder="Enter Your reason For Leave"
                  name="description"
                ></textarea>
              </label>
              <br>
              <button class=" px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
              Submit<span class="ml-2" aria-hidden="true"></span></button>
            </form>
        </main>
{% endblock %}
