{% extends "layout.html" %}
{% block body %}
<form class="container grid px-6 mx-auto" method="POST" action="/uploader/<string:emp_id>" enctype="multipart/form-data" >
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Upload Documents
  </h2>

  <div class="max-w-2xl px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <div>
      <label for="inputFile" class="mb-4 text-gray-600 dark:text-gray-400" >
        Upload File</label>
      <input type="file" name ="inputFile">  
    </div>
    
    <p class="text-gray-600 dark:text-gray-400">
      
    </p>
    <div>
      <button @click="openModal" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        Submit
      </button>
    </div>
  </div>

</form>

{% endblock %}